<div class=" backgroundPage">

  <section class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="text-center pt-5 pb-3 topFont">To do App</h2>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="input-group my-4">
              <i class="fas fa-check-double pr-3 fa-3x" (click)="checkAlltodo()" ></i>
            <input [(ngModel)]="todoInput" (keyup.enter)="addTodo()" type="text" class="form-control barTodo input-container" placeholder=""
              aria-label="" aria-describedby="basic-addon1">
              <i class="fas fa-eraser pl-3 fa-3x" (click)="deleteAlltodo()"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div *ngFor="let chore of array.reverse()" class="paperBackground">
              <i [ngStyle]="{'color': chore.done ? 'green' : 'black'}" (click)="completedTodo(chore)"class="fas fa-check"></i>
            <input [ngStyle]="{'text-decoration': chore.done ? 'line-through': 'none'}" class="m-2 input-task todoFont text-center" type='text' [(ngModel)]="chore.name"
              (keyup.enter)="editTodo(chore)">
            <!-- </div> -->
            <i (click)="deleteTodo(chore)" class="fas fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>


  </section>
</div>
